In [1]:
import pandas as pd

In [5]:
zips_data_df = pd.read_csv("data/My_20_Zips_Results.csv", index_col="Name", dtype={"Zip Code":"string"} )

In [6]:
zips_data_df

,Type,Address,Zip Code
Name,,,
"('The Marketplace Café',)",sandwiches,"('53 North St',)","('01201',)"
"(""Hot Harry's Fresh Burritos"",)",mexican,"('37 North St',)","('01201',)"
"(""McDonald's"",)",burgers,"('445 W Housatonic St',)","('01201',)"
"(""Otto's Kitchen & Comfort"",)",breakfast_brunch,"('95 East St',)","('01201',)"
"('Burger King',)",burgers,"('29 1st St',)","('01201',)"
...,...,...,...
"(""McDonald's"",)",burgers,"('50 Holyoke St',)","('01040',)"
"('Olive Garden Italian Restaurant',)",italian,"('919 Riverdale St',)","('01089',)"
"('Pride',)",servicestations,"('167 Chicopee St',)","('01013',)"
"(""McDonald's"",)",hotdogs,"('777 Meadow St',)","('01013',)"
"('Storrowton Tavern & Carriage House',)",tradamerican,"('1305 Memorial Ave',)","('01089',)"

In [ ]:
zips_data_df.style.format({:.2f})