In [1]:
import pandas as pd
import glob
import os

In [8]:
# setting the path for joining multiple files
files = os.path.join("C:\\Users\\menon\\msu\\Data_Analytics_Class\\Final Project\\FastFoodFinal\\data\\Yelp_Results\\", "State_*.csv")

# list of merged files returned
files = glob.glob(files)

print("Single CSV of All Result Files");

# joining files with concat and read_csv
df = pd.concat(map(pd.read_csv, files), ignore_index=True)
print(df)

Single CSV of All Result Files
                                          Name        Type  \
0                             ('Bangin Buns',)     hotdogs
1      ('The Buffalo Spot - Huntington Park',)     hotdogs
2                         ('In-N-Out Burger',)     burgers
3                                 ("Rally's",)     burgers
4               ('Johns Drive-In Hamburgers',)     burgers
...                                        ...         ...
27453                           ("Paisano's",)       pizza
27454                              ('Subway',)  sandwiches
27455               ('Doña Cecy’s Pupuseria',)       latin
27456                      ("Domino's Pizza",)       pizza
27457                              ('Subway',)  sandwiches

                                     Address    Zip Code
0                   ('1457 E Florence Ave',)  ('90001',)
1                     ('5918 Pacific Blvd',)  ('90255',)
2                     ('6000 Pacific Blvd',)  ('90255',)
3           ('7207 South Avalon Boulevard',)  ('90003',)
4                   ('6625 E Santa Fe Ave',)  ('90255',)
...                                      ...         ...
27453                ('6937A Telegraph Rd',)  ('22310',)
27454               ('6711 Spring Mall Dr',)  ('22150',)
27455                 ('6961 Hechinger Dr',)  ('22151',)
27456                  ('6715 Backlick Rd',)  ('22150',)
27457  ('6308 Springfield Plz Store No 13',)  ('22150',)

[27458 rows x 4 columns]

In [9]:
df

,Name,Type,Address,Zip Code
0,"('Bangin Buns',)",hotdogs,"('1457 E Florence Ave',)","('90001',)"
1,"('The Buffalo Spot - Huntington Park',)",hotdogs,"('5918 Pacific Blvd',)","('90255',)"
2,"('In-N-Out Burger',)",burgers,"('6000 Pacific Blvd',)","('90255',)"
3,"(""Rally's"",)",burgers,"('7207 South Avalon Boulevard',)","('90003',)"
4,"('Johns Drive-In Hamburgers',)",burgers,"('6625 E Santa Fe Ave',)","('90255',)"
...,...,...,...,...
27453,"(""Paisano's"",)",pizza,"('6937A Telegraph Rd',)","('22310',)"
27454,"('Subway',)",sandwiches,"('6711 Spring Mall Dr',)","('22150',)"
27455,"('Doña Cecy’s Pupuseria',)",latin,"('6961 Hechinger Dr',)","('22151',)"
27456,"(""Domino's Pizza"",)",pizza,"('6715 Backlick Rd',)","('22150',)"
27457,"('Subway',)",sandwiches,"('6308 Springfield Plz Store No 13',)","('22150',)"

In [13]:
df= df.astype({'Zip Code': 'string', "Address": "string"})

In [14]:
df.dtypes

Name        object
Type        object
Address     string
Zip Code    string
dtype: object

In [16]:
df['Zip Code'] = df['Zip Code'].str.replace(r'\D', '')
df['Address'] = df['Address'].str.replace(r'\W', '')

C:\Users\menon\AppData\Local\Temp/ipykernel_5692/3783967378.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Zip Code'] = df['Zip Code'].str.replace(r'\D', '')
C:\Users\menon\AppData\Local\Temp/ipykernel_5692/3783967378.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Address'] = df['Address'].str.replace(r'\W', '')

In [17]:
df

,Name,Type,Address,Zip Code
0,"('Bangin Buns',)",hotdogs,1457EFlorenceAve,90001
1,"('The Buffalo Spot - Huntington Park',)",hotdogs,5918PacificBlvd,90255
2,"('In-N-Out Burger',)",burgers,6000PacificBlvd,90255
3,"(""Rally's"",)",burgers,7207SouthAvalonBoulevard,90003
4,"('Johns Drive-In Hamburgers',)",burgers,6625ESantaFeAve,90255
...,...,...,...,...
27453,"(""Paisano's"",)",pizza,6937ATelegraphRd,22310
27454,"('Subway',)",sandwiches,6711SpringMallDr,22150
27455,"('Doña Cecy’s Pupuseria',)",latin,6961HechingerDr,22151
27456,"(""Domino's Pizza"",)",pizza,6715BacklickRd,22150
27457,"('Subway',)",sandwiches,6308SpringfieldPlzStoreNo13,22150

In [20]:
df.to_csv('data/All_Yelp_Results.csv', columns = ["Name","Type", "Address", "Zip Code"], header = True, index= False)